<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <meta name="keywords" content=" affordable and professional websites">

  <title>Full stack developer | Welcome</title>
  <link rel="stylesheet" href="./static/style.css">
  <link rel="icon" href="logo.png">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>

<body>
  <header>
    <div class="container">
      <div id="branding">
        <a href="index.html"> <span class="highlight"> </span> <img src="logo.png" width="60" height="30" title="logo"
            alt="logo"></a>

      </div>
      <nav>
        <ul>
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="Portfolio.html">PORTFOLIO</a></li>
          <li><a href="contact.html">Contact</a></li>

          <div class="search-box">
            <input class="search-txt" type="text" name="" placeholder="type to search">
            <a class="search-btn" href="Portfolio.html">
              <i class="fas fa-search"></i></a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <section id="showcase">



    <div class="container">
      <img src="again.webp" alt="Avatar" class="image">
      <div class="middle">
        <div class="text">
          <h1> Hi, My name is Mihlali Momoza i make Dynamic & Affordable Professional Websites.</h1>

          <p>


          <div class="conta">
            <div class="loading">
              <div class="loading__letter">W</div>
              <div class="loading__letter">E</div>
              <div class="loading__letter">L</div>
              <div class="loading__letter">C</div>
              <div class="loading__letter">O</div>
              <div class="loading__letter">M</div>
              <div class="loading__letter">E</div>
              <div class="loading__letter">.</div>
              <div class="loading__letter">.</div>

            </div>
          </div>

          </p>
        </div>

      </div>
    </div>

  </section>

  <section id="newsletter">
    <div class="container">
      <h1>subscribe if you're interested</h1>
      <div>
        <form class="quote" action="/form" method="POST">
          <input type="email" placeholder="Email Address" name="address">
          <button class="button_1" type="submit">subscribe</button>
        </form>
      </div>
    </div>
    </div>

  </section>


<aside id="sidebar">
        <div class="dark">
          <h3>Get in touch</h3>
          <form class="quote" action =/form , method="POST">
            <div>
              <label>Name</label><br>
              <input type="text" placeholder="Name" name="name">
            </div>
            <div>
              <label>Email</label><br>
              <input type="email" placeholder="Email Address" name="address">
            </div>
            <div>
              <label>Message</label><br>
              <input type ="message" textarea placeholder="Message" name="name"></inputtextarea>
            </div>
            <button class="button_1" type="submit">Send</button>
          </form>
        </div>
      </aside>
    </div>






</body>

</html>